/* https://mycolor.space/?hex=%23DEB887&sub=1 */
:root {
  --font-color: #402E32;
	--bg-color: #ffffff;
	--bg-shade: #FFF7E7;

	--accent-color: #BF8620;
	--accent-shade: #DEB887;

	--link-color: #BF8620;
	--link-shade: #DEB887;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #402E32;
    --bg-color: #ffffff;
    --bg-shade: #FFF7E7;
  
    --accent-color: #BF8620;
    --accent-shade: #DEB887;
  
    --link-color: #BF8620;
    --link-shade: #DEB887;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--font-color);
  background: var(--bg-color);
  line-height: 1.6;
  font-family: 'Roboto Flex', sans-serif;
	font-size: calc(18px + (28 - 18) * ( (100vw - 320px) / (3840 - 320) ) );
	line-height: 1.5em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/* a, */
/* .green { */
  /* text-decoration: none; */
  /* color: hsla(160, 100%, 37%, 1); */
  /* transition: 0.4s; */
/* } */

/* @media (hover: hover) { */
  /* a:hover { */
    /* background-color: hsla(160, 100%, 37%, 0.2); */
  /* } */
/* } */


