@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght,GRAD,YOPQ@8..144,25..151,100..1000,-200..150,25..135&display=swap');
@import "normalize.css";
@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: clamp(1ex, 5vmin, 2rem);

  font-weight: normal;
}