/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght,GRAD,YOPQ@8..144,25..151,100..1000,-200..150,25..135&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import 'normalize.css';

/* https://mycolor.space/?hex=%236495ED&sub=1 */

/* Squash Palette */
/* #6495ED */
/* #E27A2D */
/* #00B1B4 */

:root {
	--font-color: hsl(226, 14%, 30%); /* #414656 */
	--bg-color: #f4f9ff;
	--bg-shade: #fff7e7;

	--accent-color: hsl(219, 79%, 66%); /* #6495ED */
	--accent-shade: hsl(219, 79%, 86%);
	--accent2-color: hsl(26, 76%, 53%); /* #E27A2D */
	--accent2-shade: hsl(26, 76%, 73%);

	--link-color: #bf8620;
	--link-shade: #deb887;

	--transition-duration: 200ms;
}

@media (prefers-color-scheme: dark) {
	:root {
		--font-color: #402e32;
		--bg-color: #ffffff;
		--bg-shade: #fff7e7;

		--accent-color: #bf8620;
		--accent-shade: #deb887;

		--link-color: #bf8620;
		--link-shade: #deb887;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	position: relative;
	/* font-weight: normal; */
}

:focus-within {
	/* outline-style: dashed; */
	outline-color: var(--accent2-shade);
	/* outline-color: var(--accent2-color); */
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	color: var(--font-color);
	/* background: var(--bg-color); */
	line-height: 1.6;
	font-family: 'Rajdhani', sans-serif;
	font-size: 18px;
	/* font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (3840 - 320))); */
	/* font-variation-settings: 'YOPQ' 80, 'GRAD' -100; */
	line-height: 1.5em;
	/* text-rendering: optimizeLegibility; */
	/* -webkit-font-smoothing: antialiased; */
	/* -moz-osx-font-smoothing: grayscale; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block: 1.5em;
	line-height: 1.1;
	font-variation-settings: 'YOPQ' 100, 'GRAD' 50;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.3rem;
}

h4,
h5,
h6 {
	font-size: 1.1rem;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: clamp(1ex, 5vmin, 2rem);
}

.button {
	display: inline-grid;
	grid-template-columns: max-content min-content;
	justify-content: space-between;
	gap: 0.8ex;

	margin: 0.1ex;
	padding: 1ch 2ch;
	border-radius: 2px;
	border: solid 1px var(--accent-color);
	background-color: var(--bg-color);
	color: var(--font-color);

	transition-property: background-color;
	transition-duration: var(--transition-duration);
}

.button.small {
	padding: 0.2ch 1ch;
}

.button.accent {
	background-color: var(--accent-color);
}

.button.active {
	box-shadow: inset 0px -2px 0px 0px var(--accent-color);
}

@media (hover: hover) {
	.button:hover {
		cursor: pointer;
		background-color: var(--accent-shade);
	}
}

.button > svg {
	/* margin-left: 0.8rem; */
	--iconSize: 1.2rem;
	width: var(--iconSize);
	height: var(--iconSize);
	/* translate: 0 0.15rem; */
}
